<h1>Bulk Discounts</h1>
<% @bulk_discounts.each do |bulk_discount| %>
  <section id="bd-<%=bulk_discount.id %>">
    <p>Percentage: <%= bulk_discount.percentage_discount %> Bulk: <%= bulk_discount.quantity_threshold %></p>
    <%= link_to "Bulk Discount #{bulk_discount.id}", merchant_bulk_discounts_path(bulk_discount.id, bulk_discount.merchant.id)  %>
  </section>
<% end %>
